body {
  padding-top: 40px;
  /* Adjust based on the height of your navbar */
}

.navbar {
  background-color: rgb(64, 6, 122) !important;
  height: 4rem !important;
}

#filterSelect {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  color: inherit;
  margin-left: 3px;
}

#filterSelectLabel,
.dt-search > label {
  width: 3.2rem !important;
}

#filterSelect,
#dt-search-0 {
  width: 15rem !important;
}

#dt-length-0 {
  width: 11.5rem !important;
}
